@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* variables section */

:root{
    --color-1: #abd4e6;
    --color-2: #3b3b3b;
    --color-3: #ffffff;
    --color-4: #afcedb;
    --color-5: #4c8aa4;
    --color-6: #000000;
    --color-7: #e6e6e6;
    --color-8: #f0f0f0;
    --color-9: #ffe53c;
    --color-10: #81b0c4;
    --color-11: #0e2e3b;
    --footer-color-1: #94c6db;
    --footer-color-2: #fc6b1d;
    --footer-color-3: #1d67fc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

/* navbar section */

.nav{
    background: var(--color-1);
    width: 100%;
    height: 70px;
}

.nav_container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo{
    color: var(--color-3);
}

.item{
    text-decoration: none;
    color: var(--color-3);
    transition: .5s ease-in-out;
}

.nav_item:nth-of-type(2){
    color: var(--color-2);
}

.nav_item:nth-of-type(2):hover{
    color: var(--color-2);
}

.nav_item:hover{
    color: var(--color-8);
}

.nav_close{
    display: none;
}

.nav_input{
    display: flex;
    position: absolute;
    left: 90.7%;
    z-index: 4;
    opacity: 0;
    cursor: pointer;
    transform: scaleX(2.4) scaleY(2.1);
}

.nav_input:checked ~ .nav_menu{
    display: none;
}

.nav_input:checked ~ .nav_close{
    display: flex;
    z-index: 3;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 600;
    font-size: 1.4em;
    justify-content: center;
    gap: 4rem;
    z-index: 2;
    align-items: center;
    flex-direction: column;
    background: var(--color-1);
}

.nav_input:checked ~ .menu{
    display: flex;
}

.program{
    width: 100%;
    height: 100%;
}

.program_container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-top: 2.5rem;
}

.style_title{
    color: var(--color-10);
    font-size: 2.3em;
    margin-bottom: 1.3rem;
}

.description_style{
    color: var(--color-11);
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.img_container{
    width: 95%;
    height: 430px;
    margin: 1rem auto;
}

.img{
    width: 100%;
    height: 100%;
}

.fab_icons{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -4rem;
    right: 2.5%;
}

.fa-paw{
    font-size: 5.5em;
    color: var(--color-4);
    transform: rotate(-45deg);
}

.program_atributes{
    width: 90%;
    height: 100%;
    margin: 3.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question_style{
    color: var(--color-11);
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: left;
}

.atributes_style{
    color: var(--color-11);
    margin-bottom: 1rem;
    font-size: 1.4em;
    font-weight: 400;
}

.atributes_style:first-of-type{
    position: relative;
    left: 2.2%;
}

.atributes_style:last-of-type{
    position: relative;
    left: 3.1%;
}

.program_process{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.program_process h2{
    text-align: center;
}

.steps{
    background: var(--color-9);
    width: 140px;
    position: absolute;
    height: 150px;
    padding-top: 13px;
    border-radius: 0 0 50px 0;
}

.steps h2{
    color: var(--color-3);
    font-size: 2.5em;
}

.img_2{
    width: 100%;
    height: 23.5rem;
}

.program_requirements{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-top: -2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.requirements_style{
    color: var(--color-11);
    font-size: 1.4em;
    margin-bottom: 1rem;
}

.program_must{
    width: 90%;
    height: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.program_must ul li{
    font-size: 1.3em;
    margin-bottom: 1rem;
}

.program_add{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.fab_icons_star{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: -2rem;
    left: 0.5rem;
    justify-content: center;
}

.fab_icons_star i{
    font-size: 2.5em;
    color: var(--color-9);
    transform: rotate(45deg);
}

.title-2{
    text-align: center;
}

.btn_container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_style{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 30px;
    background: var(--color-1);
    font-size: 1em;
    text-decoration: none;
    color: var(--color-3);
    transition: all .3s ease-in-out;
}

.btn_style:hover{
    background: var(--color-4);
}

.img_container-2{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
    height: 400px;
}

.img_container-2 img{
    width: 100%;
    height: 100%;
}

.footer{
    width: 100%;
    height: 57vh;
    background: var(--footer-color-1);
}

.footer p{
    color: var(--color-8);
    font-size: 1.2em;
    font-weight: 500;
    background: var(--footer-color-1);
    position: relative;
    margin-top: -2rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

.footer_container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.style_title-2{
    color: var(--color-8);
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: -8rem;
    margin-bottom: 0.8rem;
}

.fab_icons-2{
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.fab_icons-2 a{
    text-decoration: none;
    color: var(--color-6);
}

.fab_icons-2 i{
    font-size: 2.1em;
    margin-right: 0.3rem;
}

.fab_icons-2 span{
    font-size: 1.1em;
    position: relative;
    bottom: 0.4rem;
    font-weight: 500;
    transition: .5s ease-in-out;
}

.fab_icons-2 span:hover{
    color: var(--color-7);
}

.design_with{
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    height: 30%;
    position: absolute;
    margin-top: 9rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.design_with h3{
    position: absolute;
    font-size: 1.4em;
    color: var(--color-8);
    margin-top: -5.3rem;
}

.design_with i{
    font-size: 2.5em;
    display: flex;
    margin: 0 0.5rem;
    transition: .5s ease-out;
}

.design_with i:hover{
    transform: scale(1.3);
}

.design_with i:first-of-type{
    color: var(--footer-color-2);
}

.design_with i:last-of-type{
    color: var(--footer-color-3);
}